#!/bin/sh
KEY="$HOME/.ssh/id_ed25519"
if [ ! -f "$KEY" ]; then
  ssh-keygen -t ed25519 -C "{{ .email }}" -f "$KEY" -N ""
fi
eval "$(ssh-agent -s)"
ssh-add "$KEY" 2>/dev/null || true
pbcopy < "$KEY.pub"
open https://github.com/settings/ssh/new
